{% extends "Bookings/base_main.html" %}

{% block content %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        height: 100vh;
        margin-left: 0px; 
        padding: 0;
    }

    .main-content {
        flex-grow: 1;
        padding: 20px;
    }
    h1{
        margin-bottom: 100px;
    }

    .upload-section {
        margin-bottom: 20px;
    }

    .upload-section button {
        background-color: #373771;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input, .form-group select {
        width: calc(100% - 22px); /* Adjust for input padding and border */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px; /* Add border-radius for a softer look */
    }

    .btn-primary {
        background-color: #373771;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px; /* Add border-radius for consistency */
    }
</style>

<div class="main-content">
    <h1>Account Information</h1>
    <div class="upload-section">
        <button>Upload picture</button>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input id="first-name" name="first_name" type="text" value="Tibebe">
        </div>
        
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input id="last-name" name="last_name" type="text" value="Demissie">
        </div>
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" name="email" type="email" value="w1234567@my.westminster.ac.uk">
        </div>
        
        <div class="form-group">
            <label for="course">Current Course</label>
            <select id="course" name="course">
                <option value="computer_science" selected>Computer Science</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        
        <div class="form-group">
            <label for="student-id">Student ID</label>
            <input id="student-id" name="student_id" type="text" value="12345678">
        </div>
        
        <button type="submit" class="btn-primary">Update Account</button>
    </form>
</div>

{% endblock %}