<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ergon</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'Bookings/root.css'%}">
    <link rel="stylesheet" href="{% static 'Bookings/navigation.css'%}">
</head>
<body>
    <script>
        // Use this to style buttons according to what page they are on
        console.log(window.location)
        </script>

    <div class="navigation">
        {% if user.staff.profile_pic %}
            <div class=" navigation__profile">
                <img src="{{ user.staff.profile_pic.url }}" class="navigation__pic" alt="Profile Picture">
                {{user.get_full_name}}
            </div>
        {% elif user.student.profile_pic %}

        <div class=" navigation__profile">
            <img src="{{ user.student.profile_pic.url }}" class="navigation__pic" alt="Profile Picture">
            {{user.get_full_name}}
        </div>
        {% else %}

            <div class=" navigation__profile">
                <img src="/media/default.jpg" class="navigation__pic" alt="Profile Picture">
                Tibebe Demissie
            </div>
        {% endif %}
        <div class="navigation__pages">
            <a href="/dashboard">Dashboard</a>
            {% if user.is_staff == 0 %} 
            <a href="/booking_history">Bookings</a>  
            {% endif %}   
            <a href="/notifications">Notifications</a> 
            {% if user.is_staff %} 
            <a href="/report">Report</a>     
            <a href="/users">Users</a>     
            {% endif %}   
            <a href="/profile">Account</a>    
        </div>
        <form method="post" action="{% url 'logout' %}"class="navigation__logout" >
            {% csrf_token %}
            <button> Logout </button> 
        </form>
        
    </div>
    <div class="home__container">
        {%block content %}

        {%endblock content %}
    </div>
</body>
</html>