{%extends 'Bookings/base_main.html'%} {% block content %}

{{equipment|json_script:"data"}}

<script defer>
    let tableData =
        JSON.parse(JSON.parse(document.getElementById("data").textContent))

    let tableContent;

    const createRow = (obj) => {
        const row = document.createElement("tr");
        const objKeys = ['id', 'name','quantity', 'type', 'location', 'status', 'comment']
        objKeys.map((key) => {
            populateRow(row, obj[key], key);
        });
        return row;
    };
    const populateRow = (row, item, key = "id") => {
        const cell = document.createElement("td");
        if( key == "status"){
            cell.classList.add("status")
            const span = document.createElement('span')
            span.innerHTML = item
            if(item == "On Loan"){
                span.classList.add("status__loan")
            }else span.classList.add(`status__${item.toLowerCase()}`)



            item= span.outerHTML
        }
        cell.setAttribute("data-attr", key);
        cell.innerHTML = item;
        row.appendChild(cell);
    };

    const getTableContent = (data) => {
        console.dir(typeof data);
        data.map((obj) => {
            const row = createRow(obj);
            console.dir(row)
            tableContent.appendChild(row);
        });
    };

    window.addEventListener("load", () => {
        tableContent = document.getElementById("table-content");
        getTableContent(tableData);
    });
</script>

<div class="dashboard">
    <h1>Equipment List</h1>

    <table id="dashboard_table">
        <thead>
            <tr>
                <th><button>Id</button></th>
                <th><button>Name</button></th>
                <th><button>Quantity</button></th>
                <th><button>Type</button></th>
                <th><button>Location</button></th>
                <th><button>Status</button></th>
                <th><button>Comments</button></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="table-content"></tbody>
    </table>
</div>

{%endblock content %}