{% extends "auth_base.html" %}

{% block content %}

<h1>Register</h1>

<div class="input__container">
    <div class="input__label">
        <p>Username</p>
    </div>
    <input type="text" class="input__field">
    <div class="input__error">
        <p>Error Here</p>
    </div>
</div>


<div class="input__container">
    <div class="input__label">
        <p>Password</p>
    </div>
    <input type="text" class="input__field">
    <div class="input__error">
        <p>Error Here</p>
    </div>
</div>


<button class="styled__button" type="submit"> Login </button>


{% endblock content %}